uvicorn==0.12.2
websockets==8.1  # https://github.com/aaugustin/websockets
httptools==0.1.1  # https://github.com/MagicStack/httptools
uvloop==0.14.0  # https://github.com/MagicStack/uvloop
gunicorn==20.0.4
